nav {
  .navbar-brand {
    img {
      width: 21px;
      height: 21px;
    }
  }

  li.nav-item {
    margin: 0 10px;
  }

  &.navbar-dark,
  &.navbar-dark a,
  &.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
  }
}
