nav.navbar {
  background-color: #002e6d;
  padding-top: 20px;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 1.1rem;
}

li.nav-item {
  margin: 0 10px;
}

.navbar-dark .navbar-nav a.nav-link {
  color: white;
}
